<div class="flex flex-col gap-1">
  <label [for]="id" class="form_label">{{ label }}</label>
  <select
    [id]="id"
    [formControl]="$any(control)"
    class="form_input"
    [class.border-red-500]="control.invalid && control.touched"
    [class.border-green-500]="control.valid && control.touched"
    [attr.aria-label]="label"
    [attr.aria-invalid]="control.invalid && control.touched"
    [attr.aria-describedby]="id + '-error'"
  >
    <ng-content />
  </select>
  @for (error of errors; track error) {
    <span [id]="id + '-error'" class="form_error" role="alert">{{ error }}</span>
  }
</div>
