@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

swiper-container::part(pagination) {
  bottom: 20px;
}

swiper-container::part(bullet) {
  background: white;
  opacity: 0.5;
  width: 10px;
  height: 10px;
}

swiper-container::part(bullet-active) {
  opacity: 1;
  background: #16a34a;
  width: 30px;
  border-radius: 5px;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: white;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: scale(0.8);
  transition: all 0.3s ease;
}

swiper-container::part(button-prev):hover,
swiper-container::part(button-next):hover {
  background: white;
  color: black;
  transform: scale(1);
}

@media (max-width: 768px) {
  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    display: none;
  }
}
