<div class="max-w-md mx-auto mt-10 p-10 bg-white rounded-lg shadow-md border border-gray-200">
  <h2 class="text-xl font-bold text-heading mb-4">Crear una cuenta</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 my-4">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <label class="form_label">Nombre</label>
        <input formControlName="first_name" type="text" class="form_input" />
      </div>
      <div>
        <label class="form_label">Apellidos</label>
        <input formControlName="last_name" type="text" class="form_input" />
      </div>
    </div>

    <div>
      <label class="form_label">Correo electrónico</label>
      <input formControlName="email" type="email" class="form_input" />
      @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
        <span class="form_error">Email no válido</span>
      }
    </div>

    <div>
      <label class="form_label">Contraseña</label>
      <input formControlName="password" type="password" class="form_input" />
    </div>

    <div>
      <label class="form_label">Confirmar contraseña</label>
      <input formControlName="password_confirmation" type="password" class="form_input" />
      @if (
        registerForm.hasError('passwordMismatch') &&
        registerForm.get('password_confirmation')?.touched
      ) {
        <span class="form_error">Las contraseñas no coinciden</span>
      }
    </div>
    @if (errorMessage) {
      <span class="form_error">{{ errorMessage }}</span>
    }

    <button type="submit" [disabled]="registerForm.invalid" class="form_button">Registrarse</button>

    <p class="text-sm text-center text-gray-600">
      ¿Ya tienes cuenta?
      <a routerLink="/login" class="text-blue-600 hover:underline cursor-pointer">Inicia sesión</a>
    </p>
  </form>
</div>
