@if (notification()) {
  <div class="toast" [class]="notification()!.type">
    {{ notification()!.message }}
    <button
      (click)="close()"
      class="ml-4 p-1 rounded-md hover:bg-black/5 transition-colors focus:outline-none"
      title="Cerrar"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="size-4"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
}
