/* You can add global styles to this file, and also import other style files */
@use 'tailwindcss';

@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  background-color: white;
  width: 45px;
  height: 45px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #16a34a;
  padding: 0.25rem 0;
  border: 1px solid #f3f4f6;
  transition: all 0.3s ease;
}

swiper-container::part(button-prev):hover,
swiper-container::part(button-next):hover {
  background-color: #16a34a;
  color: white;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  swiper-container::part(button-prev),
  swiper-container::part(button-next) {
    display: none;
  }
}

@layer components {
  .nav__link {
    @apply px-6 py-4 hover:text-blue-600 hover:bg-gray-100 cursor-pointer transition-colors;
  }
  .nav__link--active {
    @apply font-bold underline;
  }
  .header__search {
    @apply w-full h-12 pl-12 pr-4 bg-white rounded-full border border-gray-300 focus:border-blue-500 focus:ring-1 focus:ring-blue-200 focus:outline-none text-gray-800 shadow-inner;
  }
  .footer_link {
    @apply hover:text-gray-400 cursor-pointer transition;
  }

  .sidebar-link {
    @apply flex items-center gap-3 px-4 py-3 rounded-xl text-sm font-semibold text-gray-600 transition-all hover:bg-gray-50;
  }
  .active-tab {
    @apply bg-blue-50 text-blue-600;
  }

  .form {
    @apply bg-white rounded-xl shadow-sm border border-gray-200 p-6;
  }
  .form_label {
    @apply block mb-2 text-sm font-medium;
  }
  .form_input {
    @apply bg-gray-50 border border-gray-300 text-sm rounded-lg block w-full px-3 py-2;
  }

  .form_error {
    @apply text-xs text-red-500;
  }

  .form_button {
    @apply px-4 py-2.5 w-full text-white bg-blue-600 disabled:bg-gray-400 hover:bg-blue-700 font-medium rounded-lg text-sm transition-colors mt-2 cursor-pointer;
  }

  .form_button-cancel {
    @apply px-4 py-2.5 text-gray-600 border border-gray-300 rounded-lg hover:bg-gray-50 transition cursor-pointer;
  }

  .form__input-readonly {
    @apply border-transparent bg-gray-50 cursor-default focus:ring-0;
  }
  .input-group {
    @apply flex flex-col gap-2;
  }

  .table {
    @apply w-full text-sm text-left text-gray-500 border-collapse;
  }
  .table__thead {
    @apply text-xs text-gray-700 uppercase bg-gray-100 border-b border-gray-200;
  }
  .table__th {
    @apply px-6 py-3 border-r border-gray-200;
    &--center {
      @apply text-center;
    }
  }
  .table__td {
    @apply px-6 py-4 border-r border-gray-200;
    &--bold {
      @apply font-semibold text-gray-900;
    }
  }

  .table__button--block {
    @apply p-2 rounded-lg transition-all duration-200 shadow-sm cursor-pointer;
  }
  .table__button--edit {
    @apply p-2 text-amber-600 bg-amber-50 rounded-lg hover:bg-amber-600 hover:text-white transition-all duration-200 shadow-sm cursor-pointer;
  }

  .table__button--delete {
    @apply p-2 text-red-600 bg-red-50 rounded-lg hover:bg-red-600 hover:text-white transition-all duration-200 shadow-sm cursor-pointer;
  }

  .dashboard-card {
    @apply bg-white p-6 rounded-2xl shadow-sm border border-gray-100 flex items-center gap-4;
  }
  .dashboard-card__title {
    @apply text-sm font-medium text-gray-500 uppercase tracking-wider;
  }
  .dashboard-card__total {
    @apply text-2xl font-bold text-gray-900;
  }
}
